In [2]:
import seaborn as sns
tips_df = sns.load_dataset("tips" )
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
import pandas as pd
import seaborn as sns
x = tips_df.drop(['tip' ], axis=1) 
y = tips_df["tip" ]
numerical = x.drop(['sex' ,'smoker','day' ,'time' ], axis = 1)
categorical =x.filter(['sex' , 'smoker' , 'day' , 'time' ])
cat_numerical = pd.get_dummies(categorical,drop_first=True) 
cat_numerical.head()

   sex_Female  smoker_No  day_Fri  day_Sat  day_Sun  time_Dinner
0           1          1        0        0        1            1
1           0          1        0        0        1            1
2           0          1        0        0        1            1
3           0          1        0        0        1            1
4           1          1        0        0        1            1

In [6]:
X = pd.concat([numerical, cat_numerical], axis = 1)
X.head()

,total_bill,size,sex_Male,sex_Female,smoker_Yes,smoker_No,day_Thur,day_Fri,day_Sat,day_Sun,time_Lunch,time_Dinner
0,16.99,2,0,1,0,1,0,0,0,1,0,1
1,10.34,3,1,0,0,1,0,0,0,1,0,1
2,21.01,3,1,0,0,1,0,0,0,1,0,1
3,23.68,2,1,0,0,1,0,0,0,1,0,1
4,24.59,4,0,1,0,1,0,0,0,1,0,1

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#scaling the training set
X_train = sc.fit_transform(X_train) 
#scaling the test set
X_test = sc.transform (X_test)

# Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression
# training the algorithm
lin_reg = LinearRegression()
regressor = lin_reg.fit(X_train, y_train)
# making predictions on test set
y_pred = regressor.predict(X_test)
print(y_pred)

[2.75976768 2.99712626 2.81673204 1.4632311  3.12654885 1.77482578
 2.54679105 3.11359077 2.88681115 4.50140326 3.18428659 3.17091975
 2.3527022  2.29224593 2.87517409 4.16944264 1.92603957 2.24308317
 2.3679374  3.30322842 3.79547836 2.84290839 2.5417152  2.43574813
 2.32853543 2.58333477 2.76729999 4.59978345 3.73195325 2.40199442
 2.31295548 2.27962689 2.46828159 1.92661159 2.71399481 2.30185826
 2.71063603 2.09555601 5.60088215 3.34295006 2.25147162 2.27534617
 2.56519997 4.33905752 2.11239476 2.81768662 2.60608807 2.99566606
 2.72262204]

In [15]:
from sklearn import metrics
print ('Mean Absolute Error:' , metrics.mean_absolute_error(y_test, y_pred)) # نشوف من خلالهم قوة المودل وبنشوف متوسط الاختللافات بينهم
print ('Mean Squared Error:' , metrics.mean_squared_error(y_test, y_pred))
print ('Root Mean Squared Error:' , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.7080218832979828
Mean Squared Error: 0.8939195221609609
Root Mean Squared Error: 0.9454731736865731

# KNN Regression

In [16]:
from sklearn.neighbors import KNeighborsRegressor
KNN_reg = KNeighborsRegressor(n_neighbors=5)
regressor = KNN_reg.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
from sklearn import metrics
print ('Mean Absolute Error:' , metrics.mean_absolute_error(y_test, y_pred))
print ('Mean Squared Error:' , metrics.mean_squared_error(y_test, y_pred))
print ('Root Mean Squared Error:' , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.7342040816326529
Mean Squared Error: 1.0062463673469384
Root Mean Squared Error: 1.0031183217083308

# Random Forest Regressor

In [19]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(random_state = 42 , n_estimators = 500)
regressor = rf_reg.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
from sklearn import metrics
print ('Mean Absolute Error:' , metrics.mean_absolute_error(y_test, y_pred))
print ('Mean Squared Error:' , metrics.mean_squared_error(y_test, y_pred))
print ('Root Mean Squared Error:' , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.6973885714285716
Mean Squared Error: 0.7837061761469404
Root Mean Squared Error: 0.8852718091902285

# SVM

In [20]:
from sklearn import svm
svm_reg = svm.SVR()
regressor =svm_reg.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
from sklearn import metrics
print ('Mean Absolute Error:' , metrics.mean_absolute_error(y_test, y_pred))
print ('Mean Squared Error:' , metrics.mean_squared_error(y_test, y_pred))
print ('Root Mean Squared Error:' , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.7648132344041993
Mean Squared Error: 1.0021373013462982
Root Mean Squared Error: 1.0010680802754117

#  MAKING PREDICTION ON A SINGLE RECORD

In [21]:
from sklearn.model_selection import cross_val_score
print (cross_val_score(regressor, X, y, cv=5, scoring ='neg_mean_absolute_error' ))

[-0.66434305 -0.57294242 -0.63684824 -0.9690507  -0.87324485]

In [22]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(random_state=42,
n_estimators=500)
regressor = rf_reg.fit(X_train, y_train)
single_record = sc.transform (X.values[100].reshape(1, -1))
predicted_tip = regressor.predict(single_record)
print (predicted_tip)

[2.25834]